/*body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}*/
body {
background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    /* background-color: lightblue; */
    font-family: Arial, sans-serif;
    text-align: center;
}
h2{
    font: oblique bold 160% cursive;
    
}
header {
  background: #2c3e50;
  color: white;
  padding: 1em;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
nav a:hover {
  color: #ff4500;
  text-shadow: 0 0 10px #ff4500;
}

.hero img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.post {
  background: white;
  margin: 20px auto;
  padding: 15px;
  width: 50%;
  border-radius: 8px;
  transition: transform 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.post:hover{
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(255, 69, 0, 0.5);
}
.post img {
  width: 100%;
  border-radius: 5px;
}


.btn {
  display: inline-block;
  padding: 8px 12px;
  background: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}
.cta-btn{
 display: inline-block;
    text-decoration: none;
    margin-top: 8px;
    padding: 8px 14px;
    border-radius: 5px;
    background: #85d2ff;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}


form input, form textarea, form button {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}
